@using ZasNetWebClient.Services
@inject AuthService AuthService
@inject NavigationManager Navigation
@inject AuthenticationStateProvider _authenticationStateProvider
@inherits LayoutComponentBase

<AuthorizeView>
    <div class="app-container">
        <nav class="navbar">
            <div class="navbar-brand">
                <h2>ZasNet</h2>
            </div>

            <div class="navbar-menu">
                <a href="/" class="nav-link @GetActiveClass("/")">Все заявки</a>
                <a href="/my-orders" class="nav-link @GetActiveClass("/my-orders")">Мои заявки</a>
                <a href="/profile" class="nav-link @GetActiveClass("/profile")">Личные данные</a>
            </div>

            <div class="navbar-user">
                @* <span class="user-info">@AuthService.CurrentUser?.FirstName @AuthService.CurrentUser?.LastName</span> *@
                <span class="user-info">@CurrentUser</span>
                <button class="btn-logout" @onclick="Logout">Выйти</button>
            </div>
        </nav>

        <main class="main-content">
            @Body
        </main>
    </div>
</AuthorizeView>

@code {
    [CascadingParameter]
    public Task<AuthenticationState>? AuthenticationState { get; set; }
    public string CurrentUser{ get; set; }
    protected override async Task OnParametersSetAsync()
    {
        var state = await AuthenticationState;
        if (state != null)
        {
            if (!state.User.Identity.IsAuthenticated)
            {
                Navigation.NavigateTo("/login");
            }
            else
            {
                CurrentUser = state.User.Identity.Name;
            }
        }
    }

    private async Task Logout()
    {
        await((IdentityAuthenticationStateProvider)_authenticationStateProvider).MarkLogouted();
    }

    private string GetActiveClass(string path)
    {
        return Navigation.Uri.EndsWith(path) ? "active" : "";
    }

    

}
